<!-- home.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome, {{name}}</h1>
  <h2>Establishments:</h2>
  <h3>Discover our Restaurants:</h3>
  <ul>
    {{#each establishmentsR}}
      <li><a href="">{{this.name}}</a></li>
    {{/each}}
  </ul>
  <h3>Discover our Coffee Shops:</h3>
  <ul>
  {{#each establishmentsC}}
      <li><a href="aui.ma">{{this.name}}</a></li>
    {{/each}}
    </ul>

  <h3>Discover our Mini Markets:</h3>
   <ul>
  {{#each establishmentsM}}
      <li><a href="">{{this.name}}</a></li>
    {{/each}}
    </ul>

</body>
</html>
